<div class="row" id="container">

  <div class="col-sm-9">

    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h2>Gabumon</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <img src="http://dma.wtw-x.net/DMA/DigimonStands/Toei/HQ/Gabumon.jpg">
      </div>
    </div>

    <div class="row" id="level">
      <div class="col-xs-4 col-sm-6 title">
        <span>Level</span>
      </div>
      <div class="col-xs-8 col-sm-6 attribute">
        <p>Rookie</p>
      </div>
    </div>

    <div class="row" id="class">
      <div class="col-xs-4 col-sm-6 title">
        <p>Type</p>
      </div>
      <div class="col-xs-8 col-sm-6 attribute">
        <p>Reptile</p>
      </div>
    </div>

    <div class="row" id="evolve">
      <div class="col-xs-12 col-sm-12">
        <img src="http://67.media.tumblr.com/74b043f4c1151738998049f899dbaf6c/tumblr_ny75q8ckkh1qdatp8o3_400.gif">
      </div>
    </div>

  </div>

</div>
